<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--<link rel="stylesheet" href="style.css">-->
        <link rel="stylesheet" href="styling/bootstrapminty.css" type="text/css">
        <!--<link rel="stylesheet" href="../styling/bootstrapminty.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
        <title>April Fool</title>
    </head>
    <body>
    <h1> April Fool :) </h1>
    <h2> You've been pranked. Unlucky. </h2>
    <p> Still got time to prank your friends? Sign them up here:  </p>
        <form action="/sender/create" method="get" name="addRecipient">
            <input type="tel" name = "phone" placeholder="phone number"><br>
            <!--OR <br>-->
            <!--<input type="email" name = "email" placeholder="email address"><br>-->
            <p>Select fact theme:</p>
            <select name ="theme">
                <option value ="cat">Cat Facts</option>
                <option value ="dicapri">DiCaprio Facts</option>
                <option value ="poke">Pokeman Facts</option>
                <option value ="triptease">Triptease Trivia</option>
            </select> <br>
            <input type="checkbox" name="reveal"/> Reveal yourself at the end? <br>
            <input type="submit" name ="submit" value="Send"/>
        </form>
    </body>
</html>