<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>April Fool's</title>
    </head>
    <body>
    <h1> April Fool :) </h1>
    <p> Still got time to prank your friends? </p>
        <form action="/recipient/create" method="get">
            <input type="tel" name = "phone" placeholder="phone number"><br>
            OR <br>
            <input type="email" name = "email" placeholder="email address"><br>
            <input type="submit" name ="submit" value="Send"/>
        </form>
    </body>
</html>